*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Iter', sans-serif;
    scroll-behavior: smooth;
    list-style-type: none;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 25px;
}
p{
    font-size: 20px;
}