/* header */
header{
    background-color: #d9d9d9;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}
header .logo{
    max-width: 100%;
    height: 100px;
}
nav ul{
    display: flex;
    flex-direction: row;
}
nav ul li a{
    margin: 0 15px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}
header button{
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.btn-cv{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* main */
.principal-home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 100px 30px;
    
}
.principal-home .apresentation-home h1 {
    max-width: 50%;
    line-height: 1.5;
    font-size: 35px;
}
.principal-home .apresentation-home p {
    max-width: 50%;
    margin-top: 20px;
    line-height: 1.5;
}
.principal-home .apresentation-home .social-midia img{
    width: 35px;
    height: 35px;
    margin-top: 20px;
}
.principal-home .image-avatar img{
    max-width: 250px;
    height: auto;
    border-radius: 50px;
}
/* section skills */
.section-skills h2{
    text-align: center;
    margin: 50px;
    font-size: 35px;
}
.container-skills {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.skill-item {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 50px; 
    max-width: 100%;
}
.skill-item img {
    display: block;
    width: 100%;
    height: auto;
    border: 3px solid #d9d9d9; 
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .skill-item {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .skill-item {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}
/* section experiencia */

.section-experiencia{
    background-color: #d9d9d9;
    padding: 50px 0;
}
.section-experiencia h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}
.section-experiencia .experiencia{
    max-width: 100%;
    margin: 30px 100px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.experiencia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    padding: 15px 0;
    border-bottom: 1px solid #d9d9d9;
}

.cabecalho-esquerdo {
    display: flex;
    align-items: center;
    gap: 10px; 
}
.experiencia h3 {
    margin: 0; 
    font-size: 20px;
}

.experiencia span {
    font-size: 20px;
}

.experiencia p {
    width: 100%;
    margin-top: 10px;
}
