/* header */
header{
    background-color: #d9d9d9;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}
header .logo{
    max-width: 100%;
    height: 100px;
}
nav ul{
    display: flex;
    flex-direction: row;
}
nav ul li a{
    margin: 0 15px;
    color: #000000;
    font-weight: bold;
    font-size: 1.25rem;
}
header button{
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.btn-cv{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* main */
.principal-home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 100px 30px;
    
}
.principal-home .apresentation-home h1 {
    max-width: 50%;
    line-height: 1.5;

}
.principal-home .apresentation-home p {
    max-width: 50%;
    margin-top: 20px;
    line-height: 1.5;
}
.principal-home .apresentation-home .social-midia img{
    width: 35px;
    height: 35px;
    margin-top: 20px;
}
.principal-home .image-avatar img{
    max-width: 250px;
    height: auto;
    border-radius: 50px;
}
/* section skills */
.section-skills h2{
    text-align: center;
    margin: 50px;
}
.container-skills {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.skill-item {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 50px; 
    max-width: 100%;
}
.skill-item img {
    display: block;
    width: 100%;
    height: auto;
    border: 3px solid #d9d9d9; 
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* section experiencia */

.section-experiencia{
    background-color: #d9d9d9;
    padding: 50px 0;
}
.section-experiencia h2{
    text-align: center;
    margin-bottom: 30px;
}

.section-experiencia .experiencia{
    max-width: 100%;
    margin: 30px 100px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.experiencia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    padding: 15px 0;
    border-bottom: 1px solid #d9d9d9;
}

.cabecalho-esquerdo {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.experiencia span {
    font-size: 20px;
}

.experiencia p {
    width: 100%;
    margin-top: 10px;
}
/* section sobre */

.sobre {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.container-sobre {
    max-width: 1200px;
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px; 
}
.image-sobre {
    flex: 0 0 40%; 
    max-width: 40%; 
    text-align: center;
}

.image-sobre img {
    max-width: 100%;
    height: auto; 
}

.detail-sobre {
    flex: 0 0 55%; 
    max-width: 55%;
    padding-right: 10px; 
    text-transform: 1.5;
}
.detail-sobre h2 {
    margin-bottom: 20px;
}
.detail-sobre p {
    line-height: 1.6;
    margin-bottom: 15px;
}


/* section projetos */
.container-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 30px;
    background-color: #d9d9d9;
}
.projeto-item{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 30px 100px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    gap: 35px;
    line-height: 1.6;
}
.projeto-image img{
    max-width: 800px;
    height: auto;
    border-radius: 10px;
}
.projeto-image:hover {
    transform: scale(1.01);
    
}
.projeto-item:nth-child(even) {
  flex-direction: row-reverse;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;
    padding: 20px;
}
footer p{
    margin: 20px;
}
.btn-topo {
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}
.btn-contatos a {
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #19fc05;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}
